<!DOCTYPE html>
<html>
    <head>
        <title>True News</title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <nav class="header">  
            <div class="logo">
                <a href="/">True News</a>
            </div>
            <div class="navbar">
                <div class="nav-item">
                    <p><a href="/news">News</a></p>
                </div>
                <div class="nav-item">
                    <p><a href="#">Favorites</a></p>
                </div>
                <div class="nav-item">
                    <p><a href="/news/sources">Sources</a></p>
                </div>
                <div class="nav-item">
                    <p><a href="/login">Login</a></p>
                </div>
                <div class="nav-item">
                    <p><a href="/register">Register</a></p>
                </div>
            </div>
        </nav>