.header {
    display: flex;
    position: relative;
    justify-content: center;
    >.logo {
        position: absolute;
        margin: 15px 25px 15px 25px;
        left: 30px;
        display: flex;
        align-items: center;
        > img {
            width: 75px;
        }
        > a {
            color: black;
            font-family: 'Passion One', cursive;
            font-weight: 700;
            text-decoration: none;
            font-size: 40px;
            margin-left: 25px;
        }
    }
    >.navbar {
        width: 75%;
        height: 60px;
        background: lightcoral;
        border: 2px solid black;
        border-top: 0;
        border-radius: 0 0 10px 10px;
        position: absolute;
        >.navbar-left-side {
            float:left;
            height: 100%; 
            width: 40%;
            display: flex;
            justify-content: space-around;
        }
        >.navbar-right-side {
            float:right;
            height: 100%;
            width:30%;
            display: flex;
            justify-content: space-around;
        }
       
        .nav-item {
            margin: auto 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            height: 70%;
            width: 95px;
            >p {
                margin: 0;
                font-family: 'Roboto Mono', monospace;
                >a {
                    color: black;
                    text-decoration: none;
                }
            }
            &:hover {
                background: #85C7E6;
            } 
            
        }
    }
}