.header {
    display: flex;
    position: relative;
    justify-content: center;
    >.logo {
        position: absolute;
        margin: 15px 25px 15px 25px;
        left: 0px;
        display: flex;
        align-items: center;
        > img {
            width: 50px;
        }
        > a {
            color: black;
            text-decoration: none;
            font-size: 25px;
            margin-left: 15px;
        }
    }
    >.navbar {
        width: 60%;
        height: 50px;
        background: #81E8E2;
        border: 2px solid black;
        border-top: 0;
        border-radius: 0 0 20px 20px;
        position: absolute;
        >.navbar-left-side {
            float:left;
            height: 100%; 
            width: 40%;
            display: flex;
            justify-content: space-around;
        }
        >.navbar-right-side {
            float:right;
            height: 100%;
            width:30%;
            display: flex;
            justify-content: space-around;
        }
       
        .nav-item {
            margin: auto 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            height: 70%;
            width: 95px;
            >p {
                margin: 0;
                font-family: 'Roboto Mono', monospace;
                >a {
                    color: black;
                    text-decoration: none;
                }
            }
            &:hover {
                background: #85C7E6;
            } 
            
        }
    }
}
.content {
    margin-top: 100px;
}